a {
    font-size:0.14rem;
}
.container {
    width:7.5rem;
    height:100vh;
    background:#FFDB47;
}

/* <div class="navBar">
            <div class="navBar-item">
                <a href="">
                    <img src="imgs/navLeftIcon.png"/>
                </a>
            </div>
            <div class="navBar-item">
                <a href="">
                    <img src="imgs/abs.gif"/>
                </a>
            </div>
            <div class="navBar-item">
                <a href="">
                    <img src="imgs/navRightIcon.png"/>
                </a>
            </div>
        </div> */

/*navBar*/
.navBar {
    line-height:0.88rem;
    width:6.82rem;
    height:0.88rem;
    /* overflow: hidden; */
    display: flex;
    /* justify-content: space-around; */
    justify-content:space-between;
    margin-left:0.34rem;
    margin-right:0.34rem;

}

.navBar-item {
    width:0.36rem;
    height:0.6rem;
}


.navBar-item img{
    width:0.36rem;
    height:0.60rem;
}



.navBar-item.abs {
    width:3.9rem;
    height:0.76rem;

}

.navBar-item.abs img{
    width:3.9rem;
    height:0.76rem;

}




