a {
    font-size:0.14rem;
}
body {
    background: #F7F7F7;
    font-family: Helvetica,STHeiTi,sans-serif;
}
.container {
    width:7.5rem;
    /* height:100vh; */

}

/* <div class="navBar">
            <div class="navBar-item">
                <a href="">
                    <img src="imgs/navLeftIcon.png"/>
                </a>
            </div>
            <div class="navBar-item">
                <a href="">
                    <img src="imgs/abs.gif"/>
                </a>
            </div>
            <div class="navBar-item">
                <a href="">
                    <img src="imgs/navRightIcon.png"/>
                </a>
            </div>
        </div> */

/*navBar*/
.navBar {
    line-height:0.88rem;
    width:6.82rem;
    height:0.88rem;
    /* overflow: hidden; */
    display: flex;
    /* justify-content: space-around; */
    justify-content:space-between;
    padding-left:0.34rem;
    padding-right:0.34rem;

    background:#FFDB47;
}

.navBar-item {
    width:0.36rem;
    height:0.6rem;
}


.navBar-item img{
    width:0.36rem;
    height:0.60rem;
}



.navBar-item.abs {
    width:3.9rem;
    height:0.76rem;

}

.navBar-item.abs img{
    width:3.9rem;
    height:0.76rem;

}


/* 列表 */
/* 
        <div class="youLike">
            <div class="youLike-hd">
                <img src="/imgs/like.png">
            </div>
            <div class="youLike-bd" id="likeList">
                <div class="youLike-bd-item">
                    <div class="youLike-bd-item-hd">
                        <img src="imgs/upload1.png" />
                    </div>

                    <div class="youLike-bd-item-bd">
                        <h3>固仑格格东北酸菜500g 大白菜泡菜酱菜 火锅涮品下饭菜 酸菜饺子馅原料 酸菜炖肉</h3>
                    </div>
                    
                    <div class="youLike-bd-item-ft">
                        ￥2.8
                    </div>
                </div>
            </div>
        </div>
*/

.youLike {
    width:7.5rem;


}

.youLike-hd {
    text-align: center;
}
.youLike-hd img {
    width:7.02rem;
    height:0.6rem;
}


.youLike-bd {
    /* width:7.5rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-left:0.12rem;
    padding-right:0.12rem;
}
.youLike-bd-item {
    width:3.42rem;
    height:auto;
    background:white;
    margin-bottom:0.18rem;
    border-radius: 0.12rem;
    overflow: hidden;
}

.youLike-bd-item-hd {
    width:3.42rem;
    height:3.42rem;
}


.youLike-bd-item-hd img {
    width:3.42rem;
    height:3.42rem;
}





.youLike-bd-item-bd {
    
}

.youLike-bd-item-bd h3{
    font-size:0.13rem;
    font-weight: initial;
    color:#333;
}

.youLike-bd-item-ft {
    color:#FF4422;
    font-size:0.13rem;
    padding-bottom:0.12rem;
}


.minirefresh-scroll {
    background:#F7F7F7;
}

.minirefresh-wrap {
    overflow-x: hidden;
    overflow-y: auto;
}

/* #FF4422; */


.sliderOne {
    display: flex;
    width:7.5rem;
    height:2.80rem;
    overflow: hidden;
    position: relative;
}

.sliderOne-wrap {
    display: flex;
    position: relative;
}

.sliderOne-wrap-item {
    /* width:7rem; */
    width:7.5rem;
    height:2.8rem;
    /* padding-left: 0.25rem;
    padding-right: 0.25rem; */
    border-radius: 0.175rem;
}

.sliderOne-wrap-item a {
    width:7rem;
    height:2.8rem;
    display: block;
    border-radius: 0.175rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    overflow: hidden;
}

.sliderOne-wrap-item a img {
    width:7rem;
    height:2.8rem;
    
    border-radius: 0.175rem;
    overflow: hidden;
}

.sliderOne-actions {
    width:7.5rem;
    height:0.125rem;

    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    bottom:0.20rem;
}

.sliderOne-actions .item {
    height: 0.1rem;
    width: 0.1rem;
    border-radius: 50%;
    background:hsla(0,0%,100%,.6);
    list-style: none;
    box-sizing: border-box;
    margin:0 0.04rem;
    
}

.sliderOne-actions .item.active {
    background:red;
}

.swiper-pagination-bullet {
    height: 0.1rem;
    width: 0.1rem;
    background: white;
    opacity: 1;
}


.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
  }
:root {
    --swiper-theme-color: red;
  }

/* 轮播列表 */
.sliderList {
    /* background: url(../imgs/index-slider2-bg.webp) no-repeat center center;
    width: 7.5rem;
    height: 3.24rem;
    background-size: 7.5rem 3.24rem;
    margin-top: 0.06rem; */

    width: 7.5rem;
    height: 3.24rem;
    background-size: 7.5rem 3.24rem;
    margin-top: 0.06rem;
    overflow: hidden;
}








/* 第一个轮播图 end*/